
<div style="text-align: center;">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>UserStory Detail</th>
            <th>priority</th>
            <th>createdOn</th>
            <th>doneOn</th>
            <th>assignedToDeveloperId</th>
            <th>storyPoint</th>
            <th>status</th>
            <th>epicId</th>

        </tr>

            <tr>
                <td>{{userStory.id}}</td>
                <td>{{userStory.title}}</td>
              <td>{{userStory.userStoryDetails}}</td>
              <td>{{userStory.priority}}</td>
              <td>{{userStory.createdOn}}</td>
              <td>{{userStory.doneOn}}</td>
              <td>{{userStory.assignedToDeveloperId}}</td>
              <td>{{userStory.storyPoint}}</td>
              <td>{{userStory.status}}</td>
              <td>{{userStory.epicId}}</td>               
              </tr>
          
       
    </table>
</div>
